body {
  margin: 0;
  background: url("https://wallpapercave.com/wp/wp2757874.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Cinzel", serif;
  color: #f0d36b;
}

header {
  background: rgba(0,0,0,0.8);
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #c9a44e;
}

header a {
  margin: 10px;
  color: #f0d36b;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: white;
}

.container {
  padding: 20px;
}

.card {
  background: rgba(0,0,0,0.75);
  border: 2px solid #c9a44e;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 0 10px black;
}

button {
  background: linear-gradient(#5a0f0f, #2b0000);
  border: 1px solid #c9a44e;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #8b1a1a;
}

.progress-container {
  background: #222;
  border: 1px solid gold;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background: linear-gradient(green, lime);
  height: 100%;
}

.boss {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  padding: 5px 0;
}
